
<!-- Main -->
<div id="main">

  <!-- Introduction -->
    <section id="intro" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>About</h2>
          </header>
          <p>The Town of Stoneham has partnered with the Metropolitan Area Planning Council (MAPC.org) to update its 1997 Open Space and Recreation Plan (OSRP). A lot in Stoneham has changed since 1997: the town’s evolving demographics means its residents will have different needs in both active and passive recreation, and local and regional growth patterns demand more proactive planning to ensure natural and scenic resources are protected for future generations to enjoy. The OSRP update process will allow residents to collectively identify local priorities and set forth a seven-year action plan to preserve, add, and improve community assets that makes a Stoneham a great place to live.</p>

          <p>This project is funded by the Commonwealth’s Community Compact Grant and MAPC’s Technical Assistance Program. The project timeline begins in January 2017 and ends in June 2017. </p>
        </div>
        <span class="image"><img src="images/IMG_6994.JPG" alt="" /></span>
      </div>
    </section>

  <!-- First Section -->
    <section id="first" class="main special">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Participate</h2>
          </header>
          <p>
            <h3>Upcoming Meetings:</h3>
            <ul>
              <li>Feb 28, 6PM Steering Committee</li>
              <li>Mar 28, 6PM Steering Committee</li>
              <li>Mar 28, 7PM First public forum</li>
            </ul>
          </p>
          <p>Below is a map of surveyed assets. The map updates daily. Something missing? <a href="https://app.localdata.com/mobile/#stoneham-osrp" target="_blank">Map your cultural asset</a>.</p>
        </div>
      </div>
      <h2>Albion Cultural Assets</h2>
<!--       <iframe width="100%" height="520" frameborder="0" src="https://mapc.carto.com/u/mapc-admin/builder/5e06ca82-9c79-11e6-bf23-0e3ebc282e83/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
 -->
      <!-- <div id="dashboard" style="height: 520px; width:100%;"></div>     -->
      <iframe width="99%" style="height: 90vh" frameborder="0" src="https://mapc.carto.com/u/mystic/builder/7b538f5e-e1b5-11e6-ab3d-0e233c30368f/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    </section>

  <!-- Second Section -->
    <section id="second" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Resources</h2>
          </header>
          <p>
            <ul><li>
              1997 Stoneham Open Space and Recreation Plan (<a href="https://mapc-org.sharefile.com/d-s569423cd4364d7cb" target="_blank">link</a>)
            </li></ul>
          </p>
          <ul class="actions">
          </ul>
        </div>
        <span class="image"><img src="images/IMG_0275.JPG" alt="" /></span>
      </div>
    </section>

  <!-- Get Started -->
    <section id="cta" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>More Opportunities to Engage</h2>
            <p>Join our mailing list at <a href="http://mapc.ma/stonehamosrp-mail">mapc.ma</a>.</p>

            <p>For more information please contact Christine Madore at <a href="mailto:cmadore@mapc.org">cmadore@mapc.org</a></p>
          </header>
        </div>
      </div>
    </section>

</div>
